@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&family=Updock&display=swap');


* {
    scroll-behavior: smooth;
	font-family: 'Playball', cursive;
  }

body {
    padding: 0;
    margin: 0;
    /*background-color: rgba(223, 213, 204, 0.87);*/
	background: rgb(255,255,255);
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 65%, rgba(209,209,209,1) 100%);
}

h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2.5em;
}
a {
    text-decoration: none;
    color: black;
}

/* --------------------- Navbar ------------------ */

nav {
    overflow: hidden;
    background-color: rgb(200, 180, 165);
    position: fixed;
    width: 100%;
    opacity: 0.9;
}

header a {
    float: right;
    font-size: 1.2em;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}
  
#logo {
    font-family: 'Updock', cursive;
    font-weight: bold;
    float: left;
    font-size: 1.5em;
}

/* ---------------- Image ------------------- */

#imagePrincipale {
    padding-top: 100px;
    background: url(image/imageExt.jpg) no-repeat fixed 50% 50%;
    background-size:  cover;
    height: 799px;
}

h1 {
    font-family: 'Updock', cursive;
    text-align: center;
    font-size: 6.5em;
    margin-top: 100px;
    text-shadow: 3px 5px 2px white;
}

/* --------------- Main ------------------------ */

/* ---- Présentation ----- */ 

#texteIntro p {
    font-size: 1.3em;
}

.Présentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}

div.slides {
    display: flex;
    flex-direction: row;
    animation: glisse 15s infinite ease-in-out;
    padding: 50px;
}

.slider {
    margin-left : 300px;
    margin-right: 300px;
    background-color: rgba(219, 212, 197, 0.479);
    border-radius: 15px 15px 15px 15px;
}

.slider img {
    width: 350px;
    border-radius: 15px 15px 15px 15px;
}

@keyframes glisse {
    
    0%{
        transform: translateX(0);
    }
    33%{
        transform: translateX(-350px);
    }
    66%{
        transform: translateX(150px);
    }
    0%{
        transform: translateX(0);
    }

}

/* ---------------------- Section Menu --------------------- */


h3 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    font-size: 1.5em;
}

.descriptionPlat {
    font-size: 1.1em;
    text-align: center;
}

.plat img{
    width: 450px;
    float: left;
    border-radius: 15px 15px 15px 15px;
    padding: 5px;
    box-shadow: 6px 6px 28px -1px rgba(138, 121, 47, 0.75);
}

.plat img:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}

.pizza li {
    display: inline;
    margin-left: 80px;
}

.burger li {
    display: inline;
    margin-left: 80px;
}

.plat {
    margin-top: 55px;
    display: flex;
    flex-direction: column ;
}

.pizza ul {
    margin-top: 55px;
}
.burger ul {
    margin-top: 70px;
}
.biere ul {
    text-align: center;
    list-style: none;
    margin-top: 90px;
}

.pizza {
    margin-left: 200px;
}

.burger {
    margin-left: 550px;
}

.biere {
    margin-left: 900px;
}

/* ------------------ footer --------------------- */


.footer-distributed{
	background: #444;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
	overflow: hidden;
}

.footer {
  margin-top: 200px;
  width: 100%;
  display: inline-block;
  background: #ccc;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}


/* Footer left */

.footer-distributed .footer-left{
	float: left;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Playball', cursive;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

.footerMap {
	display: inline-block;
	position: relative;
	left: 30%;
	transform: translateX(-50%);
}

.map {
	border-radius: 15px 15px 15px 15px;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 250px;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}

}

@media (max-width: 800px) {

	.footer-distributed{
		padding: 30px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
		float: none;
	}
}
